{% extends 'base_public.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titre_page %}{{ object }}{% endblock %}
{% block contenu %}
  <section class="pt-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8 bg-white py-5">
                <div class="single-post">
                    <h1>{{ object }}</h1>
                    <div class="d-flex align-items-center justify-content-between mb-5">
                        <div class="single-post-meta mr-4 float-left">
                            <div class="single-post-meta-details">
                                <div class="single-post-meta-details-name">{{ object.created_by }}</div>
                                <div class="single-post-meta-details-date">{{ object.created }}</div>
                            </div>
                        </div>
                        {% if user.is_authenticated %}
                        <div class="single-post-meta-links align-items-center">
                            <a class="btn btn-sm btn-primary-soft text-primary font-weight-500 mr-2" href="{% url 'glossaire:terme-modif' slug=object.slug %}">Modifier</a>
                            <a class="btn btn-sm btn-primary-soft text-primary font-weight-500" href="{% url 'glossaire:terme-ajout' %}">Ajouter</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="single-post-text my-5">
                        {{ object.desc|safe }}
                        <hr class="my-5" />
                          <dl class="row">
                            <dt class="col-sm-2">Source(s)<br>
                                {% if user.is_authenticated %}
                            <a href="{% url 'glossaire:source-ajout' %}">Ajouter une source</a>{% endif %}</dt>
                            <dd class="col-sm-10">
                              {% if not object.references.all %}
                                <i class="fas fa-exclamation-triangle text-danger"></i>
                                <a href="{% url 'glossaire:source-ajout' %}" class="alert-link">Une défintion non sourcée n'est pas recevable : Ajouter une source</a>
                              {% else %}
                                {% for s in object.references.all %}
                                  <a href="{{ s.lien }}" target="_blank">{{ s }}</a><br>
                                {% endfor %}
                              {% endif %}
                            </dd>
                          </dl>
                        <hr class="my-5" />
                        <div class="text-center"><a class="btn btn-primary-soft" href="{% url 'glossaire:index' %}">Retour à l'index du glossaire</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  
{% endblock %}