{% extends 'base_public.html' %}
{% load crispy_forms_tags %}
{% block titre_page %}Se connecter{% endblock %}
{% block entete %}

{% endblock %}
{% block contenu %}
<div class="container-fluid py-10">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header justify-content-center"><h3 class="font-weight-light">Se connecter</h3></div>
                <div class="card-body">
                    <!-- Login form-->
                <form method="post">
                  {% csrf_token %}
                  <div class="card-body">
                    <p class="card-text">{{ form|crispy }}</p>
                    <button type="submit" class="btn btn-primary">Connexion</button>
                  </div>
                </form>
                </div>
                <div class="card-footer text-center">
                    <div class="small">Pas de compte ? Ca, c'est dommage.</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}