{% extends 'base_public.html' %}

{% block titre_page %}Marouan El Moussaoui{% endblock %}

{% block entete %}
{% load static %}
<header class="page-header page-header-dark bg-img-cover overlay overlay-60" style="background-image: url('https://source.unsplash.com/6dW3xyQvcYE/1600x1200');height: 100vh;">
    <div class="page-header-content py-15">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8">
                    <h1 class="page-header-title">Marouan El Moussaoui</h1>
                    <p class="page-header-text mb-5">Python Developer. <br>Data Scientist.</p>
                    <a class="btn btn-teal btn-lg font-weight-500" href="#!"><i class="fas fa-file-pdf text-white-75 mr-2"></i>Download Resume</a>
                </div>
            </div>
        </div>
    </div>
  <div class="svg-border-waves text-white">
    <!-- Wave SVG Border-->
    <svg class="wave" style="pointer-events: none" fill="currentColor" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
        <defs>
            <style>
                .a {
                    fill: none;
                }
                .b {
                    clip-path: url(#a);
                }
                .d {
                    opacity: 0.5;
                    isolation: isolate;
                }
            </style>
        </defs>
        <clippath id="a"><rect class="a" width="1920" height="75"></rect></clippath>
        <g class="b"><path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path></g>
        <g class="b"><path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path></g>
        <g class="b"><path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path></g>
        <g class="b"><path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path></g>
    </svg>
  </div>
</header>
{% endblock %}	

{% block contenu %}
<section class="bg-white py-10">
    <div class="container">
        <div class="text-uppercase-expanded small mb-2">Experience</div>
        <hr class="mt-0 mb-5" />
        <div class="row mb-5">
            <div class="col-lg-8">
                <h4 class="mb-0">Spécialistes des Données</h4>
                <p class="lead">Fédération Wallonie-Bruxelles</p>
                <p>Mise en place d'une comptabilité énergétique pour le parc immobilier de la Fédération (~3000 bâtiments). Développement d'une application de gestion énergétique, avec géoréférencement, crud, KPI, modèles, etc.</p>
            </div>
            <div class="col-lg-4 text-lg-right"><div class="text-gray-400 small">Sept 2018 - Present</div></div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-8">
                <h4 class="mb-0">Marketing Analyst</h4>
                <p class="lead">Shout Media Productions</p>
                <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
            </div>
            <div class="col-lg-4 text-lg-right"><div class="text-gray-400 small">August 2015 - May 2018</div></div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <h4 class="mb-0">Sales Representative</h4>
                <p class="lead">Gamby Enterprises</p>
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
            </div>
            <div class="col-lg-4 text-lg-right"><div class="text-gray-400 small">June 2011 - August 2015</div></div>
        </div>
    </div>

</section>
<section class="bg-light py-10">
    <div class="container">
        <div class="text-uppercase-expanded small mb-2">Education</div>
        <hr class="mt-0 mb-5" />
        <div class="row mb-5">
            <div class="col-lg-8">
                <h4 class="mb-0">UCLouvain</h4>
                <p class="lead"> en politique économique et sociale.</p>
                <p>Enseignement à horaire décalée</p>
            </div>
            <div class="col-lg-4 text-lg-right"><div class="text-gray-400 small">Juin 2008</div></div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <h4 class="mb-0">DigitYser</h4>
                <p class="lead">Data Scientist Certificate</p>
                <p>DigitYser est un centre de formation agréé à Bruxelles. Etudes de cas et travaux de groupe.</p>
            </div>
            <div class="col-lg-4 text-lg-right"><div class="text-gray-400 small">Septembre 2017</div></div>
        </div>
    </div>

</section>
<section class="bg-white py-10">
    <div class="container">
        <div class="text-uppercase-expanded small mb-2">Compétences</div>
        <hr class="mt-0 mb-5" />
        <div class="row">
            <div class="col-lg-8">
                <p>S'occuper d'un grand nombre de données complexes avec méthologie et rigueur : voilà ma spécialité. Pour ça, j'utilise un vaste éventail d'outils informatiques et méthodologiques.</p>
                <ul class="mb-0 text-gray-700">
                    <li>Esprit d’équipe, axé sur le développement des synergies, et l’échange de compétences</li>
                    <li>Personnalité structurée et rigoureuse</li>
                    <li>Orienté vers la recherche de solutions concertées, pragmatiques et intégrées</li>
                    <li>Esprit d’analyse et de synthèse</li>
                    <li>Capacité de gestion de projets, et de prise en charge des différents niveaux d’intervention</li>
                    <li>Sens du contact, de la négociation et de la diplomatie</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="bg-light py-10">
    <div class="container">
        <div class="text-uppercase-expanded small mb-2">Interêts</div>
        <hr class="mt-0 mb-5" />
        <div class="row">
            <div class="col-lg-8">
                <p>En plus d'être un "IT guy", je suis, surtout, un "family man". Heureux papa et mari comblé, j'adore passer du temps avec mes deux p'tits gars et ma chérie. On rigole bien et j'apprends beaucoup d'eux.</p>
                <p>Je pratique la gymnastique et la course à pied. J'aime les bandes dessinées, les dessins animés, les westerns spaghettis et les films de David Lynch.</p>
                <p>Ultracrépidarianiste, passe ton chemin.</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-white py-10">
    <div class="container">
        <div class="text-uppercase-expanded small mb-2">Contact</div>
        <hr class="mt-0 mb-5" />
        <div class="row">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <h3>Marouan El Moussaoui</h3>
                <p class="lead mb-0">+32.486.388.252</p>
                <a href="#!">marouan at protonmail.com</a>
            </div>
            <div class="col-lg-4 text-lg-right">
                <a class="btn btn-teal btn-lg font-weight-500" href="#!"><i class="fas fa-file-pdf text-white-75 mr-2"></i>Download Resume</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}